@model HomeTask_1.Models.StudentView

@{
    ViewData["Title"] = "Details";
}

@Html.ActionLink("Назад к списку", "Index")
<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Фамилия</td>
        <td>@Model.SurName</td>
    </tr>
    <tr>
        <td>Возраст</td>
        <td>@Model.Age</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>@Model.Telefon</td>
    </tr>
    <tr>
        <td>Курс</td>
        <td>@Model.Course</td>
    </tr>
</table>

